<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <context-param>
        <param-name>ACCOUNT_SID</param-name>
        <param-value>ACa6cbcb955bca23cadd8875e0a6ff1983</param-value> 
    </context-param>
    <context-param>
        <param-name>AUTH_TOKEN</param-name>
        <param-value>274e48d032948ab3dfc938a39fa79bc0</param-value> 
    </context-param>
    <context-param>
        <param-name>db_URL</param-name>
        <param-value>jdbc:postgresql://bfibxulveprmogqgrhkm-postgresql.services.clever-cloud.com:5432/bfibxulveprmogqgrhkm</param-value>
    </context-param>
    <context-param>
        <param-name>db_username</param-name>
        <param-value>usljypeo3cubvrf850oh</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>bdgWsraFaLT8rDiZglxB</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.iti.ecommerce.essentials.dbconnection.DatabaseListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>com.iti.ecommerce.essentials.controller.addProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyPhoneNumber</servlet-name>
        <servlet-class>com.iti.ecommerce.essentials.verifications.VerifyPhoneNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.iti.ecommerce.essentials.Login.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/addProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyPhoneNumber</servlet-name>
        <url-pattern>/VerifyPhoneNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
